Inspect the dataset titled lab01_dataset_1.csv which has a mixture of numerical and
categorical data. Your task will be to write a function my_ID3( ) which can create a decision
tree for the given dataset using the ID3 algorithm. However, before doing that, you will be
have to perform some data processing tasks. Here are all the required tasks in order â€“
1. ID3 cannot handle continuous numerical data. Perform necessary operations to
handle all continuous-valued attributes. Do not forget to show the output i.e., the
updated dataset after handling continuous-valued attributes.

In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv("lab01_dataset_1.csv")
data.head()

      Mood  Effort  Score Output
0    Happy     Low     35    Yes
1    Happy  Medium     91     No
2    Happy    High     52     No
3  Neutral     Low     83     No
4  Neutral  Medium     48     No

In [22]:
# sort the data by score
def sortDataFrameByScore(data):
    data = data.sort_values(by='Score')
    data.head()
    return data

In [23]:
data = sortDataFrameByScore(data)
data.head()

       Mood  Effort  Score Output
0     Happy     Low     35    Yes
11    Happy    High     39    Yes
6       Sad     Low     40    Yes
9     Happy     Low     44    Yes
4   Neutral  Medium     48     No

In [24]:
def entropy():
    pass

def informationGain():
    pass