Inspect the dataset titled lab01_dataset_1.csv which has a mixture of numerical and
categorical data. Your task will be to write a function my_ID3( ) which can create a decision
tree for the given dataset using the ID3 algorithm. However, before doing that, you will be
have to perform some data processing tasks. Here are all the required tasks in order â€“
1. ID3 cannot handle continuous numerical data. Perform necessary operations to
handle all continuous-valued attributes. Do not forget to show the output i.e., the
updated dataset after handling continuous-valued attributes.

In [59]:
import pandas as pd
import numpy as np

In [60]:
data = pd.read_csv("lab01_dataset_1.csv")
data.head()

      Mood  Effort  Score Output
0    Happy     Low     35    Yes
1    Happy  Medium     91     No
2    Happy    High     52     No
3  Neutral     Low     83     No
4  Neutral  Medium     48     No

In [61]:
categorialCols = data.select_dtypes(include=['number']).columns
categorialCols

Index(['Score'], dtype='object')

In [69]:
for col in categorialCols:
    # print(data[col])
    bins = (pd.cut(data[col], bins=4, labels=[1, 2, 3, 4]))
    data[col] = bins

print(data)

       Mood  Effort Score Output
0     Happy     Low     1    Yes
1     Happy  Medium     4     No
2     Happy    High     2     No
3   Neutral     Low     4     No
4   Neutral  Medium     1     No
5   Neutral    High     2     No
6       Sad     Low     1    Yes
7       Sad  Medium     4     No
8       Sad    High     3    Yes
9     Happy     Low     1    Yes
10    Happy  Medium     4     No
11    Happy    High     1    Yes
12    Happy     Low     2     No
13  Neutral  Medium     3    Yes
14  Neutral    High     1     No
15      Sad     Low     3     No
16      Sad  Medium     3    Yes
17      Sad    High     4     No
18      Sad     Low     3    Yes