Inspect the dataset titled lab01_dataset_1.csv which has a mixture of numerical and
categorical data. Your task will be to write a function my_ID3( ) which can create a decision
tree for the given dataset using the ID3 algorithm. However, before doing that, you will be
have to perform some data processing tasks. Here are all the required tasks in order –
1. ID3 cannot handle continuous numerical data. Perform necessary operations to
handle all continuous-valued attributes. Do not forget to show the output i.e., the
updated dataset after handling continuous-valued attributes.

In [1]:
import pandas as pd
import numpy as np
from pprint import pprint 
import math

In [2]:
data = pd.read_csv("lab01_dataset_1.csv")
data.head()

      Mood  Effort  Score Output
0    Happy     Low     35    Yes
1    Happy  Medium     91     No
2    Happy    High     52     No
3  Neutral     Low     83     No
4  Neutral  Medium     48     No

In [3]:
# sort the data by score
def sortDataFrameByScore(data):
    data = data.sort_values(by='Score', ignore_index=True)
    data.head()
    return data

In [4]:
data = sortDataFrameByScore(data)
data

       Mood  Effort  Score Output
0     Happy     Low     35    Yes
1     Happy    High     39    Yes
2       Sad     Low     40    Yes
3     Happy     Low     44    Yes
4   Neutral  Medium     48     No
5   Neutral    High     50     No
6     Happy    High     52     No
7   Neutral    High     61     No
8     Happy     Low     66     No
9       Sad     Low     69     No
10      Sad  Medium     70    Yes
11      Sad    High     73    Yes
12  Neutral  Medium     75    Yes
13      Sad     Low     80    Yes
14  Neutral     Low     83     No
15    Happy  Medium     86     No
16    Happy  Medium     91     No
17      Sad    High     95     No
18      Sad  Medium     98     No

In [5]:
data.dtypes

Mood      object
Effort    object
Score      int64
Output    object
dtype: object

In [6]:
def splitPoint(data):
    attributeDataFrame = pd.DataFrame({ 'Score' : data['Score'], 'Output' : data['Output']})
    attributeDataFrame.reindex(np.arange(len(attributeDataFrame['Score'].index)))
    print(attributeDataFrame)

    outputvalue = attributeDataFrame['Output'][0]

    splitPointDict = {}

    for i in range(1, len(attributeDataFrame['Score'])):
        if(attributeDataFrame['Output'][i] != outputvalue):
            # (i-1) (i) mean
            mean = (attributeDataFrame['Score'][i-1] + attributeDataFrame['Score'][i])/2
            splitPointDict[i-1] = mean
            outputvalue = attributeDataFrame['Output'][i]
        
    pprint(splitPointDict)
    return attributeDataFrame, splitPointDict
attributeDataFrame, splitPoint = splitPoint(data)

    Score Output
0      35    Yes
1      39    Yes
2      40    Yes
3      44    Yes
4      48     No
5      50     No
6      52     No
7      61     No
8      66     No
9      69     No
10     70    Yes
11     73    Yes
12     75    Yes
13     80    Yes
14     83     No
15     86     No
16     91     No
17     95     No
18     98     No
{3: 46.0, 9: 69.5, 13: 81.5}

In [7]:
for i in splitPoint:
    split = splitPoint[i]
    print(splitPoint[i])
    ltYes = 0
    ltNo = 0
    gtYes = 0
    gtNo = 0

    for j in range(0, len(attributeDataFrame['Score'])):
        if attributeDataFrame['Score'][j] < split and attributeDataFrame['Output'][j] == 'Yes':
            ltYes+=1
        if attributeDataFrame['Score'][j] < split and attributeDataFrame['Output'][j] == 'No':
            ltNo+=1

        if attributeDataFrame['Score'][j] >= split and attributeDataFrame['Output'][j] == 'Yes':
            gtYes+=1
        if attributeDataFrame['Score'][j] >= split and attributeDataFrame['Output'][j] == 'No':
            gtNo+=1

    print(ltYes , " | " , ltNo  , " | " , gtYes , " | " , gtNo)

46.0
4  |  0  |  4  |  11
69.5
4  |  6  |  4  |  5
81.5
8  |  6  |  0  |  5

In [8]:
columnsList = {}

for i in splitPoint:
    split = splitPoint[i]
    # "Score_" + str(split)
    scoreList=[]
    for j in range(0, len(attributeDataFrame['Score'])):
        if attributeDataFrame['Score'][j] < split:
            scoreList.append(1)
        else: 
            scoreList.append(0)

    columnsList["Score_" + str(split)] = scoreList

columnsList

{'Score_46.0': [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Score_69.5': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 'Score_81.5': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]}

In [9]:
data['Score_46.0'] = columnsList['Score_46.0']
data['Score_69.5'] = columnsList['Score_69.5']
data['Score_81.5'] = columnsList['Score_81.5']

In [10]:
data.head()

      Mood  Effort  Score Output  Score_46.0  Score_69.5  Score_81.5
0    Happy     Low     35    Yes           1           1           1
1    Happy    High     39    Yes           1           1           1
2      Sad     Low     40    Yes           1           1           1
3    Happy     Low     44    Yes           1           1           1
4  Neutral  Medium     48     No           0           1           1

In [11]:
moodUnique = list(data['Mood'].unique())
effortUnique = list(data['Effort'].unique())
outputUnique = list(data['Output'].unique())

print(moodUnique)
print(effortUnique)
print(outputUnique)

moodUniqueMap = {}
effortUniqueMap = {}
outputUniqueMap = {}

i=0
for item in moodUnique:
    moodUniqueMap[item] = i
    i+=1

i=0
for item in effortUnique:
    effortUniqueMap[item] = i
    i+=1

i=0
for item in outputUnique:
    outputUniqueMap[item] = i
    i+=1

print(moodUniqueMap)
print(effortUniqueMap)
print(outputUniqueMap)

['Happy', 'Sad', 'Neutral']
['Low', 'High', 'Medium']
['Yes', 'No']
{'Happy': 0, 'Sad': 1, 'Neutral': 2}
{'Low': 0, 'High': 1, 'Medium': 2}
{'Yes': 0, 'No': 1}

In [12]:
data = data.drop(['Score'], axis=1)
data.head()

      Mood  Effort Output  Score_46.0  Score_69.5  Score_81.5
0    Happy     Low    Yes           1           1           1
1    Happy    High    Yes           1           1           1
2      Sad     Low    Yes           1           1           1
3    Happy     Low    Yes           1           1           1
4  Neutral  Medium     No           0           1           1

#### 2. Next, you will have to ensure the newly obtained dataset is optimal and free of errors. Take appropriate actions based on the outcomes.
- a. Check if the dataset has any missing values. (1 mark)
- b. Check if the dataset has any redundant or repeated input sample. (1 mark)
- c. Check if the dataset has any contradicting <input, output> pairs. (1 mark)

a. Check if the dataset has any missing values. (1 mark)

In [13]:
missingValues = data.isnull()
print(missingValues)

     Mood  Effort  Output  Score_46.0  Score_69.5  Score_81.5
0   False   False   False       False       False       False
1   False   False   False       False       False       False
2   False   False   False       False       False       False
3   False   False   False       False       False       False
4   False   False   False       False       False       False
5   False   False   False       False       False       False
6   False   False   False       False       False       False
7   False   False   False       False       False       False
8   False   False   False       False       False       False
9   False   False   False       False       False       False
10  False   False   False       False       False       False
11  False   False   False       False       False       False
12  False   False   False       False       False       False
13  False   False   False       False       False       False
14  False   False   False       False       False       False
15  False   False   False       False       False       False
16  False   False   False       False       False       False
17  False   False   False       False       False       False
18  False   False   False       False       False       False

In [14]:
for i in data.columns:
    print("Any missing values in " ,i, ":" , data[i].isnull().any())

Any missing values in  Mood : False
Any missing values in  Effort : False
Any missing values in  Output : False
Any missing values in  Score_46.0 : False
Any missing values in  Score_69.5 : False
Any missing values in  Score_81.5 : False

#### b. Check if the dataset has any redundant or repeated input sample. (1 mark)

In [15]:
# Checking for duplicates

dataFrame = pd.DataFrame(data)

duplicatedRows = dataFrame[dataFrame.duplicated()]
print(duplicatedRows)

       Mood  Effort Output  Score_46.0  Score_69.5  Score_81.5
3     Happy     Low    Yes           1           1           1
7   Neutral    High     No           0           1           1
16    Happy  Medium     No           0           0           0

#### c. Check if the dataset has any contradicting <input, output> pairs. (1 mark)

In [16]:
dataFrame = pd.DataFrame(data)
print(list(data.columns))

contradicting = dataFrame[dataFrame.duplicated(subset=list(data.columns), keep=False)]

print("Original X dataframe : ")
print(dataFrame)
print("\nContradicting <input, output> Pairs:")
print(contradicting)

['Mood', 'Effort', 'Output', 'Score_46.0', 'Score_69.5', 'Score_81.5']
Original X dataframe :
       Mood  Effort Output  Score_46.0  Score_69.5  Score_81.5
0     Happy     Low    Yes           1           1           1
1     Happy    High    Yes           1           1           1
2       Sad     Low    Yes           1           1           1
3     Happy     Low    Yes           1           1           1
4   Neutral  Medium     No           0           1           1
5   Neutral    High     No           0           1           1
6     Happy    High     No           0           1           1
7   Neutral    High     No           0           1           1
8     Happy     Low     No           0           1           1
9       Sad     Low     No           0           1           1
10      Sad  Medium    Yes           0           0           1
11      Sad    High    Yes           0           0           1
12  Neutral  Medium    Yes           0           0           1
13      Sad     Low    Yes           0           0           1
14  Neutral     Low     No           0           0           0
15    Happy  Medium     No           0           0           0
16    Happy  Medium     No           0           0           0
17      Sad    High     No           0           0           0
18      Sad  Medium     No           0           0           0

Contradicting <input, output> Pairs:
       Mood  Effort Output  Score_46.0  Score_69.5  Score_81.5
0     Happy     Low    Yes           1           1           1
3     Happy     Low    Yes           1           1           1
5   Neutral    High     No           0           1           1
7   Neutral    High     No           0           1           1
15    Happy  Medium     No           0           0           0
16    Happy  Medium     No           0           0           0

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

moodUniqueValues = list(np.asarray(data['Mood'].unique()))
encoderMood = OrdinalEncoder(categories=[list(moodUniqueValues)])
data['Mood'] = encoderMood.fit_transform(data[['Mood']])

effortUniqueValues = list(np.asarray(data['Effort'].unique()))
encoderEffort = OrdinalEncoder(categories=[list(effortUniqueValues)])
data['Effort'] = encoderEffort.fit_transform(data[['Effort']])

outputUniqueValues = list(np.asarray(data['Output'].unique()))
encoderOutput = OrdinalEncoder(categories=[list(outputUniqueValues)])
data['Output'] = encoderOutput.fit_transform(data[['Output']])

data.head()

   Mood  Effort  Output  Score_46.0  Score_69.5  Score_81.5
0   0.0     0.0     0.0           1           1           1
1   0.0     1.0     0.0           1           1           1
2   1.0     0.0     0.0           1           1           1
3   0.0     0.0     0.0           1           1           1
4   2.0     2.0     1.0           0           1           1

#### 3. Your function my_ID3( ) should operate in a manner such that after ever round of decision making, it will output the attributes and its associated gain, with a message stating “Attribute X with Gain = Y is chosen as the decision attribute”. Once your function completes, it should output the decision tree. The representation of the decision tree is upto you. You can choose either a textual representation or a graphical one; either is fine. (10 marks)

In [19]:
# def calculateEntropy(data, feature):
#     targetUniqieValue = data[feature].unique()
#     print(targetUniqieValue)
#     totalRows = len(data)
#     entropy = 0
    
#     for item in targetUniqieValue:
#         count = len(data[data[feature] == item])
#         proportion = (count / totalRows)
#         if (proportion!=0) :
#             entropy -= (proportion) * (math.log2(proportion))
#         print("Entropy " , item, count, entropy)

#     return entropy

# def calculateInformationGain(data, feature, targetColumn):

#     featureUniqueValues = list(data[feature].unique())
#     totalRows = len(data[feature])
#     weightedEntropy = 0

#     for item in featureUniqueValues:
#         subset = data[data[feature] == item]
#         proportion = len(subset)/ totalRows
#         weightedEntropy +=proportion * calculateEntropy(subset, targetColumn)
#         print()

#     informationGain = calculateEntropy(data, feature) - weightedEntropy
#     print(informationGain)
#     return informationGain

# def my_ID3():
#     for column in list(data.columns):
#         if(column != 'Output'):
#             entropy = calculateEntropy(data, column)
#             informationGain = calculateInformationGain(data, column, 'Output')
#             print("Entropy : ", entropy , "| information Gain : ", informationGain)
# my_ID3()

In [20]:
list(data.columns)

['Mood', 'Effort', 'Output', 'Score_46.0', 'Score_69.5', 'Score_81.5']

In [22]:
eps = np.finfo(float).eps


import pprint
# Entropy of the target attribute values
def find_entropy(df):
    target = df.keys()[-1]  # The last dataframe column is the target attribute (playGolf)
    entropy = 0
    values = df[target].unique()
    # for each value in the target playGolf attribute values
    for value in values:
        # ratio of values occurring and entropy
        fraction = df[target].value_counts()[value] / len(df[target])
        entropy += -fraction * np.log2(fraction)
    return entropy

# Entropy of attribute values
def find_entropy_attribute(df, attribute):
    target = df.keys()[-1]
    target_variables = df[target].unique()  
    # unique values in target playGolf attribute (Yes, No)
    variables = df[attribute].unique() # Identify Sunny, Overcast, Rainy
    # attribute entropy
    # Variables=[sunny, sunny....5, overcast1.....overcast4, Rainy1...Ra5 ]
    entropy2 = 0
    # for each attribute value in attribute values
    for variable in variables:
        
        # value entropy
        entropy = 0
        # for each target value in target values (yes/no)
        for target_variable in target_variables:
            
   # frequency of attribute and target values (boolean indexing, pandas dataframe filtering)
          num = len(df[attribute][df[attribute] == variable][df[target] == target_variable])
          den = len(df[attribute][df[attribute] == variable])
          fraction = num / (den + eps)
          entropy += -fraction * np.log2(fraction + eps)
        fraction2 = den / len(df)
        entropy2 += -fraction2 * entropy
    return abs(entropy2)


def bestClassifier(df):
    # Entropy_att = []
    # information gain array for all attributes
    IG = []
    # for all attributes excluding target
    for key in df.keys()[:-1]:
        # Entropy_att.append(find_entropy_attribute(df,key))
        # calculate and record information gain value
        IG.append(find_entropy(df) - find_entropy_attribute(df, key)) 
    return df.keys()[:-1][np.argmax(IG)]  



# function for creating subtable
def get_subtable(df, node, value):
    return df[df[node] == value].reset_index(drop=True)

def ID3split(df, tree=None):
    target = df.keys()[-1]
    
    # Here we build our decision tree
    # Get attribute with maximum information gain
    node = bestClassifier(df) # 0.247
    # Get distinct value of that attribute e.g Salary is node and Low,Med and High are values
    attributeValues = np.unique(df[node])
    # Create an empty dictionary to create tree (recursive-friendly definition)
    if tree is None:               #  Outlook ->root node attribute
        tree = {}
        tree[node] = {}
    # following loop recursively calls ID3split to create and add to the tree
    # it runs till the tree is pure (leaf (result) node branches are added to the tree)
    for value in attributeValues:
        
        # get the subtable from current node based on the value
        subtable = get_subtable(df, node, value)
        # get the most common target value in the subtable
        targetValues, counts = np.unique(subtable[target], return_counts=True)
        
        # if the subtable is empty, assign the leaf node to the most common target value
        if len(counts) == 1:
            tree[node][value] = targetValues[0]
        
        else:
            # recursively call ID3 to create subtrees
            tree[node][value] = ID3split(subtable)  # Calling the function recursively
    return tree

decisionTree = ID3split(data)
pprint.pprint(decisionTree)

{'Score_69.5': {0: {'Output': {0.0: 1, 1.0: 0}}, 1: 1}}

In [388]:
# def find_entropy(df):
#     Class = df.keys()[-1]   #To make the code generic, changing target variable class name
#     entropy = 0
#     values = df[Class].unique()
#     for value in values:
#         fraction = df[Class].value_counts()[value]/len(df[Class])
#         entropy += -fraction*np.log2(fraction)
#     return entropy

# def find_entropy_attribute(df,attribute):
#     Class = df.keys()[-1]   #To make the code generic, changing target variable class name
#     target_variables = df[Class].unique()  #This gives all 'Yes' and 'No'
#     variables = df[attribute].unique()    #This gives different features in that attribute (like 'Hot','Cold' in Temperature)
#     entropy2 = 0
#     for variable in variables:
#         entropy = 0
#         for target_variable in target_variables:
#             num = len(df[attribute][df[attribute]==variable][df[Class] ==target_variable])
#             den = len(df[attribute][df[attribute]==variable])
#             fraction = num/(den+eps)
#             entropy += -fraction*log(fraction+eps)
#         fraction2 = den/len(df)
#         entropy2 += -fraction2*entropy
#     return abs(entropy2)

# def find_winner(df):
#     Entropy_att = []
#     IG = []
#     for key in df.keys()[:-1]:#         Entropy_att.append(find_entropy_attribute(df,key))
#         IG.append(find_entropy(df)-find_entropy_attribute(df,key))
#     return df.keys()[:-1][np.argmax(IG)] 

# def get_subtable(df, node,value):
#     return df[df[node] == value].reset_index(drop=True)

# def buildTree(df,tree=None): 
#     Class = df.keys()[-1]   #To make the code generic, changing target variable class name  #Here we build our decision tree  #Get attribute with maximum information gain
#     node = find_winner(df)#Get distinct value of that attribute e.g Salary is node and Low,Med and High are values
#     attValue = np.unique(df[node])#Create an empty dictionary to create tree    
#     if tree is None:                    
#         tree={}
#         tree[node] = {}#We make loop to construct a tree by calling this function recursively. #In this we check if the subset is pure and stops if it is pure. 
#     for value in attValue:
#         subtable = get_subtable(df,node,value)
#         clValue,counts = np.unique(subtable['play'],return_counts=True)                        
#         if len(counts)==1:#Checking purity of subset
#             tree[node][value] = clValue[0]                                                    
#         else:        
#             tree[node][value] = buildTree(subtable) #Calling the function recursively               
#     return tree


# import pandas as pd
# import numpy as np
# eps = np.finfo(float).eps
# from numpy import log2 as log
# df = pd.read_csv('lab01_dataset_1.csv')
# print("\n Given Play Tennis Data Set:\n\n",df)
# tree= buildTree(df)
# import pprint
# pprint.pprint(tree)

 Given Play Tennis Data Set:

        Mood  Effort  Score Output
0     Happy     Low     35    Yes
1     Happy  Medium     91     No
2     Happy    High     52     No
3   Neutral     Low     83     No
4   Neutral  Medium     48     No
5   Neutral    High     61     No
6       Sad     Low     40    Yes
7       Sad  Medium     98     No
8       Sad    High     73    Yes
9     Happy     Low     44    Yes
10    Happy  Medium     86     No
11    Happy    High     39    Yes
12    Happy     Low     66     No
13  Neutral  Medium     75    Yes
14  Neutral    High     50     No
15      Sad     Low     69     No
16      Sad  Medium     70    Yes
17      Sad    High     95     No
18      Sad     Low     80    Yes

KeyError: 'play'